# Entornos
.venv/
venv/
__pycache__/
*.pyc

# Logs
logs/
*.log

# Data & Videos (NO subir binarios)
storage/videos/
storage/metadata/
storage/analysis/
storage/logs/

# Config sensible
*.env
config.yaml
client_secrets.json
token.json

# Sistema
.DS_Store
Thumbs.db
